<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button  (click)="dismiss()">
        <ion-icon name="chevron-back-outline" style="color: #986522;"></ion-icon>
      </ion-button>
      <ion-text color="danger">
        <h1>
          <strong class="ion-text-uppercase">
            TUNAI KELUAR
          </strong>
        </h1>
      </ion-text>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-grid>
    <form [formGroup]="form" (ngSubmit)="logForm()" enctype="multipart/form-data">
      <ion-row>
        <ion-col class="form-control">
          <ion-item lines="none" style="border: none;">
            <ion-label class="padding" position="stacked">KATEGORI ALIRAN <span style="color: red;">*</span></ion-label>
            <ion-select formControlName="id_kategori_aliran" >
              <ion-select-option *ngFor="let kategori_aliran of kategori_aliran" value="{{kategori_aliran.id}}">
                {{kategori_aliran.nama_kategori_aliran}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="form-control">
          <ion-item lines="none" class="form-control" style="border: none;">
            <ion-label class="padding" position="stacked">TARIKH <span style="color: red;">*</span></ion-label>
            <!-- <ion-input type="date" formControlName="title"></ion-input> -->
            <ion-datetime presentation="date" [max]="today" formControlName="tarikh_aliran"
               style="background-color: #f5f5f5;">
            </ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="form-control">
          <ion-item lines="none" class="form-control" style="border: none;">
            <ion-label class="padding" position="stacked">KETERANGAN <span style="color: red;">*</span></ion-label>
            <ion-input type="text" formControlName="keterangan_aliran" style="text-transform: none !important;"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="ion-text-center" style="display: flex; justify-content:center">
        <!-- <ion-col class="ion-text-center"> -->
        <p style="margin: 0px; font-weight:bold"> JUMLAH <span style="color: red;">*</span></p><br>
        <!-- </ion-col> -->
      </ion-row>

      <ion-row style="margin-bottom: 30px; border-bottom: 0.8px solid; margin-left:5%; margin-right:5%">
        <ion-col class="jumlah" [size]=4 style="display:flex; justify-content:center; align-items:center">
          RM
        </ion-col>
        <ion-col [size]=8 class="ion-text-center">
          <!-- <ion-item class=" ion-text-center">
            <ion-label class="jumlah" style="margin-top:50px">RM </ion-label> -->
          <ion-input class="jumlah" type="number" placeholder="0.00" formControlName="jumlah_aliran"></ion-input>
          <!-- </ion-item> -->
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="form-control">
          <ion-label>DOKUMEN LAMPIRAN</ion-label>
        </ion-col>
      </ion-row>
      <ion-row style="margin-bottom: 20px;">

        <ion-col class="form-control ion-margin">

          <label>
            <div class="ion-text-center"
              style="background-color: #919091; color:white; display:flex; justify-content:center; padding:10px; border-radius:10px">
              PILIH DOKUMEN
            </div>

            <ion-input class="ion-hide" type="file" name="dokumen" id="dokumen" [(ngModel)]="file"
              [ngModelOptions]="{standalone: true}" (change)="selectedFile($event)"></ion-input>
          </label>
          <!-- <label for="doc">
            <ion-button for="doc" color="success" expand="block" for="doc">PILIH DOKUMEN</ion-button>
          </label> -->
        </ion-col>
        <ion-col class="form-control ion-margin-top">
          <span id="nama_fail">Tiada fail dipilih</span>
        </ion-col>
      </ion-row>

      <ion-row style="margin-bottom: 20px;">
        <ion-col class="form-control">
          <!-- (click)="openmodal()" -->
          <ion-button color="danger" expand="block" type="submit" [disabled]="form.invalid">TAMBAH TUNAI KELUAR
          </ion-button>
        </ion-col>
      </ion-row>

    </form>
  </ion-grid>




</ion-content>