.bold,
h1 {
    font-weight: bold;
    font-family: "Nunito Sans";
}
.no-padding {
    padding: 0px !important;
}

.no-margin {
    margin: 0px !important;
}

.rectangle-280 {
    background-color: #00a651;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.bg-white {
    background-color: white;
    display: flex;
    height: 100%;
    justify-content: center;
    min-width: 100%;
    // border-radius: 0px 0px 40px 40px;
    padding: 20px;
    // overflow: scroll;
    display: flex;
    flex-wrap: wrap;
}

.rectangle-1 {
    background-color: #FF6600;
    border-radius: 18px;
    box-shadow: 0px 4px 4px #00000040;
    font-family: "Nunito Sans";
    height: initial;
    width: 100%;
    color: white;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    margin-bottom: 5%;
}

// ion-item,
// .test {
//     --padding-start: 0.75rem !important;
//     --padding-top: 0.625rem !important;
//     --placeholder-color: #8898aa;
//     --placeholder-font-weight: 400;
//     background-color: #EDEDED !important;
//     // border: 1px solid #dee2e6 !important;
//     border-radius: 1rem !important;
//     box-shadow: 0 3px 2px rgba(233, 236, 239, 0.05) !important;
//     line-height: 1.5 !important;
//     font-family: "Nunito Sans";
//     color: #00a651;
    
// }

.success{
    color: #00a651;
}

.card{
    background-color: #EDEDED;
}

