#overlay {
    position: fixed; /* Sit on top of the page content */
    // display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8); /* Black background with opacity */
    z-index: -1; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.element-logo {
    background-image: url("/assets/img/risda_logo.png");
    background-position: 50% 50%;
    background-size: cover;
    height: 94px;
    width: 97px;
    z-index: 3;
    margin: auto;
}

.welcome-back {
    letter-spacing: 0;
    min-height: 49px;
    min-width: 278px;
    text-align: center;
    color: green;
}

@font-face {
    font-family: "NATS-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.animaapp.com/NATS-Regular") format("truetype");
}

.forget-password {
    cursor: pointer;
    letter-spacing: 0;
    min-height: 16px;
    min-width: 105px;
    text-align:end;
    color: green;
}

ion-input{
    height: 60px
}

@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:700,600,800|Lato:400");


.my-custom-class .alert-wrapper {
    background: #e5e5e5;
  }

.yes-custom {
    background-color: green;
    
}

.button {
    align-items: center;
}