<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button  (click)="dismiss()">
        <ion-icon name="chevron-back-outline" style="color: #986522;"></ion-icon>
      </ion-button>
      <ion-text color="warning">
        <h1>
          <strong class="ion-text-uppercase">
            TARIKH LAWATAN
          </strong>
        </h1>
      </ion-text>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  

  <ion-grid>
    <form [formGroup]="form" (ngSubmit)="logForm()" enctype="multipart/form-data">
      <ion-row>
        <ion-col class="form-control">
          <ion-item *ngIf = "pegawai_id != null" lines="none" style="border: none;">
            <ion-label class="padding" position="stacked">NAMA USAHAWAN </ion-label>
            <ion-input formControlName="namausahawan" readonly></ion-input>
           
          </ion-item>

          <ion-item *ngIf = "pegawai_id == null" lines="none" style="border: none;">
            <ion-label class="padding" position="stacked">NAMA PEGAWAI </ion-label>
            <ion-input formControlName="nama_pegawai" readonly></ion-input>
            
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row style="margin-bottom: 15%;"> 
        <ion-col class="form-control">
          <ion-item lines="none" class="form-control" style="border: none;">
            <ion-label class="padding" position="stacked">TARIKH</ion-label>
            <!-- <ion-input type="date" formControlName="title"></ion-input> -->
            <ion-datetime  displayFormat="DD-MM-YYYY" presentation="date"  formControlName="tarikh_lawatan" style="background-color: #f5f5f5;">
            </ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col class="form-control">
          <ion-item lines="none" class="form-control" style="border: none;">
            <ion-label class="padding" position="stacked">MASA </ion-label>
            <!-- <ion-input type="date" formControlName="title"></ion-input> -->
            <ion-datetime displayFormat="HH:mm" presentation="time" formControlName="masa_lawatan" style="background-color: #f5f5f5;">
            </ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row style="margin:20px;">
        <ion-col class="form-control" style="display: flex; justify-content:space-between">
          <!-- (click)="openmodal()" -->
          <ion-button color="medium" type="submit"  >Tarikh Baru</ion-button>
          <ion-button color="success" (click)="sahkan()"  >Sahkan</ion-button>
        </ion-col>
      </ion-row>

    </form>
  </ion-grid>




</ion-content>