<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Log Masuk Kali Pertama</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <div id="overlay"
    style="background-image:url('assets/img/login-background.png'); background-position: center; background-repeat: no-repeat; background-size: cover; position:absolute">

  </div>
  <!-- <div id="overlay" style="position: absolute;"></div> -->


  <div class="" style="z-index: 4; margin: 3%; margin-top:20%; align-items:center; ">

    <div class="element-logo"></div>
    <br><br><br>

    <ion-text style="text-align: center;">
      <h2 class="login-text">Lupa Kata Laluan</h2>
    </ion-text>

    <br>

    <form action="" [formGroup]="form" (ngSubmit)="logForm()">

      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size="12">
            <div>
              <ion-item style="border-radius: 50px;">
                <ion-input type="email" email placeholder="Email" formControlName="email" style="text-transform: none !important;"></ion-input>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>

        <ion-row >
          <ion-col size="12" style="display: flex; justify-content:flex-end">
            <a class="forget-password" (click)="forget_password()" style="text-decoration: none; margin-top:10px; margin-right:5px;">
              <span class="lupa">Log Masuk</span>
            </a>
          </ion-col>
        </ion-row>
        <br><br>

        <ion-row class="ion-justify-content-center">


          <br>

          <ion-button type="submit" class="button" color="dark" [disabled]="form.invalid" shape="round">HANTAR EMAIL</ion-button>

        </ion-row>

      </ion-grid>


    </form>



  </div>



</ion-content>