<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="chevron-back-outline" style="color: #986522"></ion-icon>
      </ion-button>
      <ion-text color="warning">
        <h1>
          <strong class="ion-text-uppercase"> KEMASKINI KATALOG </strong>
        </h1>
      </ion-text>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <form [formGroup]="form" (ngSubmit)="logForm()" style="margin: 20px">
      <ion-row style="margin-bottom: 20px">
        <ion-col class="form-control">
          <ion-label>NAMA PRODUK <span style="color: red">*</span></ion-label>
          <ion-input type="text" formControlName="nama_produk"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row style="margin-bottom: 20px">
        <ion-col class="form-control">
          <ion-label
            >KANDUNGAN PRODUK <span style="color: red">*</span></ion-label
          >
          <!-- <ion-input type="date" formControlName="title"></ion-input> -->
          <ion-input type="text" formControlName="kandungan_produk"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row style="margin-bottom: 20px">
        <ion-col class="form-control">
          <ion-label
            >JUMLAH (kg/unit/orang/liter/ton/pcs)
            <span style="color: red">*</span></ion-label
          >
          <ion-input
            placeholder="0.0"
            type="number"
            formControlName="berat_produk"
          >
          </ion-input>
        </ion-col>
      </ion-row>

      <ion-row style="margin-bottom: 20px">
        <ion-col class="form-control">
          <ion-label style="padding-right: 0px"
            >HARGA JUALAN (RM) <span style="color: red">*</span></ion-label
          >
          <ion-input type="number" formControlName="harga_produk"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row style="margin-bottom: 20px">
        <ion-col class="form-control">
          <ion-label
            >UNIT PRODUCTION <span style="color: red">*</span></ion-label
          >
          <ion-input
            type="number"
            formControlName="unit_production"
            (change)="updateBakiStok()"
          ></ion-input>
        </ion-col>
        <ion-col class="form-control">
          <ion-label>BAKI STOK <span style="color: red">*</span></ion-label>
          <ion-input
            type="text"
            formControlName="baki_stok"
            value="bakiStok"
            readonly
          ></ion-input>
        </ion-col>
      </ion-row>

      <ion-row style="margin-bottom: 20px">
        <ion-col class="form-control">
          <ion-label
            >KETERANGAN LAIN <span style="color: red">*</span></ion-label
          >
          <!-- <ion-input type="text" formControlName="title"></ion-input> -->
          <ion-textarea
            rows="5"
            formControlName="keterangan_produk"
          ></ion-textarea>
        </ion-col>
      </ion-row>

      <ion-row style="margin-bottom: 20px">
        <ion-col class="form-control">
          <!-- <ion-item lines="none" style="border: none;"> -->
          <ion-label position="stacked"
            >STATUS <span style="color: red">*</span></ion-label
          >
          <ion-select formControlName="status_katalog">
            <ion-select-option value="pending">Publish</ion-select-option>
            <ion-select-option value="draft">Draft</ion-select-option>
          </ion-select>
          <!-- </ion-item> -->
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="ion-text-center">
          <ion-label class="ion-text-center" style="padding-bottom: 0px"
            >GAMBAR <span style="color: red">*</span></ion-label
          >
        </ion-col>
      </ion-row>

      <ion-row style="margin-bottom: 20px">
        <ion-col
          class="form-control"
          style="display: flex; justify-content: center"
        >
          <label>
            <div>
              <br />
              <img
                [src]="getImage() "
                class="border-radius-md"
                width="80"
                height="80"
                id="upload-Preview"
              />
            </div>
            <ion-input
              accept="image/*"
              (change)="onSelectFile($event)"
              type="file"
              name="gambar_profil"
              style="display: none"
            ></ion-input>
            <span>{{gambar.name}}</span>
          </label>
        </ion-col>
      </ion-row>

      <ion-row style="margin-bottom: 20px">
        <ion-col class="form-control">
          <ion-button type="submit" color="dark" expand="block"
            >KEMASKINI</ion-button
          >
          <ion-button color="warning" expand="block" (click)="onDelete()"
            >HAPUS</ion-button
          >
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
