<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="start" name="close"></ion-icon>
        close
      </ion-button>
    </ion-buttons>
    <ion-title>Download success</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- the file has been downloaded to your device please check your downloads for the file -->

  <div class="center">
    <img src="assets/download.svg" alt="" height="250" width="250" /><br />
  </div>
  <p class="message">The file has been saved succesfully to your downloads</p>
</ion-content>
