<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button (click)="dashboard()">
        <ion-icon name="chevron-back-outline" style="color: #986522;"></ion-icon>
      </ion-button>
      <ion-text color="warning">
        <h1>
          <strong class="ion-text-uppercase">
            LAWATAN
          </strong>
        </h1>
      </ion-text>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <ion-tabs>
      <ion-tab-bar slot="top" class="tab">
        <ion-tab-button tab="/lawatan" style="height:30px; max-width:40%">
          <ion-label style="width: 80%; ">
            <div>
              LAWATAN
            </div>
            <!-- <ion-button round=true>Tunai Masuk</ion-button> -->
          </ion-label>
          <!-- <ion-icon name="musical-note"></ion-icon> -->
        </ion-tab-button>
        <ion-tab-button tab="/laporan" style="height:30px; max-width:40%">
          <ion-label>
            LAPORAN
          </ion-label>
          <!-- <ion-icon name="game-controller"></ion-icon> -->
        </ion-tab-button>

      </ion-tab-bar>

      <ion-tab tab="/lawatan">

        <ion-content>

          <div class="bg-white" style="display: flex; flex-wrap:wrap">
            <ion-grid style="margin:5%; margin-bottom:0px">
              <ion-row style="margin-bottom: 10px;">
                <ion-col>
                  <h5 class="bold"> Perkara</h5>
                </ion-col>
                <ion-col class="ion-text-end">
                  <h5 class="bold">Status</h5>
                </ion-col>
              </ion-row>
            </ion-grid>
            <div style="height: 70%; width:100%; overflow: scroll; display:flex; justify-content:center">

              <ion-grid class="rectangle-279">
                <ion-row *ngFor="let lawatan of lawatan"
                  style="margin-bottom: 10px; background-color: #EDEDED; border-radius: 15px;"
                  (click)="lawatan.status_lawatan=='1'  ? pengesahanLawatan(lawatan):null;">
                  <ion-col>
                    <div class=" bold" style="font-family: 'Nunito Sans';">
                      <ion-grid style="padding: 0%;">
                        <ion-row style="padding: 0%;">
                          <ion-col size="8">
                            <ion-text>
                              <h6 class="bold no-padding">
                                {{lawatan.nama_pegawai}}
                              </h6>
                            </ion-text>
                            <ion-text color="medium">
                              {{lawatan.tarikh_lawatan | date: 'dd/MM/yyyy'}}
                            </ion-text>
                          </ion-col>
                          <ion-col size="4" style="padding: 0%; display:flex; justify-content:flex-end">
                            <img *ngIf="lawatan.status_lawatan == '2'" src="assets/icon/pending.png" alt="pending"
                              height="50px">
                            <img *ngIf="lawatan.status_lawatan == '3'" src="assets/icon/publish-icon.png"
                              alt="publish" height="50px%">
                            <img *ngIf="lawatan.status_lawatan == '1'" src="assets/icon/draft-icon.png" alt="draft"
                              height="50px%">
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>


            </div>
            
          </div>

        </ion-content>
      </ion-tab>

      <ion-tab tab="/laporan">

        <ion-content>

          <div class="bg-white" style="display: flex; flex-wrap:wrap">
            <ion-grid style="margin:5%; margin-bottom:0px">
              <ion-row style="margin-bottom: 10px;">
                <ion-col>
                  <h5 class="bold"> Maklumat</h5>
                </ion-col>
                <ion-col class="ion-text-end">
                  <!-- <h5 class="bold">Status</h5> -->
                </ion-col>
              </ion-row>
            </ion-grid>
            <div style="height: 70%; width:100%; overflow: scroll; display:flex; justify-content:center">

              <ion-grid class="rectangle-279">
                <ion-row *ngFor="let laporan of laporan"
                  style="margin-bottom: 10px; background-color: #EDEDED; border-radius: 15px;"
                  >
                  <ion-col>
                    <div class=" bold" style="font-family: 'Nunito Sans';">
                      <ion-grid style="padding: 0%;">
                        <ion-row style="padding: 0%;">
                          <ion-col size="8">
                            <ion-text>
                              <h6 class="bold no-padding">
                                {{laporan.nama_pegawai}}
                              </h6>
                            </ion-text>
                            <ion-text color="medium">
                              <p class="font-13 no-padding">
                                {{laporan.tarikh_lawatan | date: 'dd/MM/yyyy'}}
                              </p>
                            </ion-text>
                          </ion-col>
                          <ion-col size="4"
                            style="padding: 2%; display:flex; justify-content:flex-end; align-items:center">
                            <a (click)="download_laporan(laporan.lawatan_id)">
                              <img src="assets/new-iconv2/Download.png" alt="pending" height="25px" style="margin-left: 20px;">
                            </a>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>


            </div>
            
          </div>

        </ion-content>

      </ion-tab>


    </ion-tabs>

  </div>

</ion-content>